body {
    background: #5782ab;
    background: linear-gradient(38deg, rgba(87, 130, 171, 1) 0%, rgba(169, 186, 219, 1) 50%, rgba(224, 224, 224, 1) 100%);
}

.title {
    font-size: 4em;
    text-align: center;
}

.admin-layout {
    display: flex;
    min-height: 100%;
}

.sidebar {
    width: 220px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    backdrop-filter: blur(5.6px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    height: 100vh;
    box-sizing: border-box;
}

    .sidebar ul {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .sidebar ul li a {
            color: white;
            text-decoration: none;
            display: block;
            padding: 10px 20px;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

            .sidebar ul li a:hover {
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: 4px;
            }

.admin-content {
    flex: 1;
    padding: 20px;
}

/*Product and Member List*/
.styled-gridview {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

    .styled-gridview th {
        background: rgba(255, 255, 255, 0.5);
        color: black;
        padding: 10px;
        text-align: left;
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .styled-gridview td {
        padding: 10px;
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .styled-gridview tr:hover {
        background-color: #f1f1f1;
    }

    .styled-gridview tr {
        color: gray;
        background: rgba(255, 255, 255, 0.21);
    }

.form-control {
    width: 95%;
    padding: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: black;
}

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.btn-primary {
    background-color: #4CAF50;
    color: white;
}

    .btn-primary:hover {
        background-color: #45a049;
    }