.admin-layout {
    display: flex;
    min-height: 100%;
}

.sidebar {
    width: 220px;
    background-color: #333;
    color: white;
    padding: 20px;
}

    .sidebar ul {
        list-style: none;
        padding: 0;
    }

        .sidebar ul li a {
            color: white;
            text-decoration: none;
            display: block;
            padding: 10px 0;
        }

            .sidebar ul li a:hover {
                background-color: #444;
            }

.admin-content {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
}
