.admin-layout {
    display: flex;
    min-height: 100%;
}

.sidebar {
    width: 220px;
    background-color: #333;
    color: white;
    padding: 20px;
}

    .sidebar ul {
        list-style: none;
        padding: 0;
    }

        .sidebar ul li a {
            color: white;
            text-decoration: none;
            display: block;
            padding: 10px 0;
        }

            .sidebar ul li a:hover {
                background-color: #444;
            }

.admin-content {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
}

/*Product List*/
.styled-gridview {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

    .styled-gridview th {
        background-color: #333;
        color: white;
        padding: 10px;
        text-align: left;
        border-bottom: 2px solid #555;
    }

    .styled-gridview td {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .styled-gridview tr:hover {
        background-color: #f1f1f1;
    }

    .styled-gridview tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .styled-gridview tr:nth-child(odd) {
        background-color: #ffffff;
    }