body {

    margin: 0;    
    width: 100%;

}

.icon {

    height: 50px;

}

.header {

    padding: 5px;
    background: #666666;
    background: linear-gradient(38deg, rgba(102, 102, 102, 1) 0%, rgba(181, 181, 181, 1) 36%, rgba(245, 245, 245, 1) 77%, rgba(161, 161, 161, 1) 100%);

}

.header table {

    width: 100%;

}

.ninety {

    width: 90%;

}

.five {
    width: 5%;
}

.half {

   width: 100%;
   table-layout: auto;

}

.forms-container {

    text-align: center;
    width: 400px;
    margin: auto;
}

.forms-container table {

    table-layout: auto;
    width: 100%;

}

.forms-input {

    width: 100%;
    padding: 6px;
    box-sizing: border-box;

}

.footer {
    padding-block: 5px;
    background: #666666;
    background: linear-gradient(38deg, rgba(102, 102, 102, 1) 0%, rgba(181, 181, 181, 1) 36%, rgba(245, 245, 245, 1) 77%, rgba(161, 161, 161, 1) 100%);
}